<IfModule mod_rewrite.c>
    # ベース設定
    RewriteEngine On

    # マルチビューとインデックス無効化
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Authorization Header の処理
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # トレーリングスラッシュのリダイレクト（フォルダ以外の場合）
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # フロントコントローラーへのルーティング
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # storageディレクトリのリクエストを適切なパスへリダイレクト
    RewriteRule ^storage/(.*)$ /storage/app/public/$1 [L]
</IfModule>


 # RewriteRule ^storage/(.*)$ /home/itsys/drawing_management_system/storage/app/public/$1 [L]